# Android
*.iml
.gradle/
.idea/
local.properties
.DS_Store
/build/
captures/
.externalNativeBuild/

# Keystore (nunca subir claves)
*.jks

# Logs
*.log

# Kotlin
*.class
*.kotlin_metadata
*.kotlin_module

# Others
*.apk
*.ap_
output.json